<div class="index-header">
  <h1 class="index-h1">Mike Niebling</h1>
  <div class="index-subtitle">Site in development, that's for sure</div>
</div>

<div class="index-body">
  <div class="index-section">
    <h2 class="index-h2">Music</h2>

    <div><a href="<%- url_for('/playlists') %>">Playlists</a></div>
    <div><a href="<%- url_for('/queue') %>">Listening queue</a></div>

    <%
      const musicReportCategory = site.categories.findOne({ name: 'music report' })
      const musicReports = musicReportCategory.posts.sort('date', 'desc')
      const lastUpdated = moment(musicReports.sort('updated', 'desc').data[0].updated).format('YYYY-MM-DD')
    %>

    <p class="index-music-reports-header">Music reports (last updated <%= lastUpdated %>):</p>

    <% musicReports.forEach(post => { %>
      <div>
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
    <% }) %>
  </div>

  <div class="index-section">
    <h2 class="index-h2">Writing</h2>

    <% site.categories.filter(c => c.name === 'design').forEach(category => { %>
      <% category.posts.sort('date', 'desc').forEach(post => { %>
        <div>
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
      <% }) %>
    <% }) %>
  </div>

  <div class="index-section">
    <h2 class="index-h2">The Quantified Life</h2>

    <div><a href="https://www.last.fm/user/thebling">Music (Last.fm)</a></div>
    <div><a href="https://www.goodreads.com/user/show/104157118-mike">Books (Goodreads)</a></div>
    <div><a href="https://letterboxd.com/thebling/">Movies (Letterboxd)</a></div>
    <div><a href="https://www.tvtime.com/en/user/28913711/profile">TV shows (TV Time)</a></div>
  </div>

  <div class="index-section">
    <h2 class="index-h2">Projects</h2>

    <a href="https://www.estherpomranky.com" target="_blank" rel="noopener">Esther's website</a>
  </div>

</div>
